:root {
    --color-text-primary: #24292E;
    --color-grey-light: #EAECEF;
    --color-grey-dark: #24292E;
}

*,
*::before,
*::after {
    border: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--color-text-primary);
    background-color: #fff;
}

.header {
    height: 5.5rem;
    background-color: var(--color-text-primary);
    line-height: 5.5rem;
    font-size: 1.2rem;
    
}
.top__container {
    display: flex;
    align-items: center;
}
.mobile__navbar {
    display: none;
}
.navigation {
    display: none;
}
.container {
    margin: 0 3rem;
}
.logo {
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
}
.top__search {
    background-color: transparent;
    border: 1px solid #444D56;
    border-radius: 5px;
    padding: .4rem 1rem;
    margin-right: -3rem;
    color: #fff;
    transition: all .3s;
    width: 25rem;
    font-family: inherit;
    font-size: 1.3rem;
}
.top__search::-webkit-input-placeholder {
    color: #c0c4c7;
}
.top__search:focus {
    outline: none;
    background-color: #fff;
    color: #000;
    width: 40rem;
}
.top__search:focus + .top__btn {
    display: none;
}
.top__btn{    
    background-color: transparent;
    border: 1px solid #444D56;
    border-radius: 5px;
    color: #949ca3;
}
.heading__list {
    list-style: none;
    display: flex;
    margin-right: auto;
    padding-left: 3.5rem;
}
.smallscreen {
    display: none;
}
.list:not(:last-of-type) {
    margin-right: 1.5rem;
}
.list__link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
/* .list__link:not(:last-of-type) {
    margin-right: 1rem;
} */
.icon__box {
    display: flex;
    align-items: center;  
}
.icon__box> div {
    margin-left: 1.5rem;
}


.top__icon {
    height: 1rem;
    width: 1rem;
    fill: #fff !important;
    color: #fff !important; 
    cursor: pointer;
    /* background-color: #fff; */
}
.bell {
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    align-items: center;
}
.profile__small {
    display: flex;
    align-items: center;
}
.profile {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-image : url(../img/SpiderMan-Post-Malone-Swae-Lee.png);
    background-size: cover;
    overflow: hidden;
    background-position: top;
    
}

.top__image {
    width: 100%;
    height: 100%;
    
}
.logo:hover, .list__link:hover, .top__icon:hover {
    color: #BDBFC0;
    fill:  #BDBFC0;
    cursor: pointer;
}
.repository {
    margin-left: 1.5rem;
}
.repository:hover {
    fill:  #BDBFC0;
    color: #BDBFC0;
    
}

/******************************
** Main
***/

.mobile__profile {
    display: none;
}
.top__main {
    border-bottom: 1px solid var(--color-grey-light);
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    background-color: #fff;
    z-index: 10;
}
.main__list-cover {
    display: flex;
    justify-content: center; 
    align-items: flex-end;
}
.main__list {
    list-style: none;
}
.main__list-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 3rem 1.8rem 1.1rem 1.8rem;
    color: var(--color-text-primary);
    box-sizing: content-box;
    -webkit-backface-visibility: hidden;
    color: var(--color-grey-dark);



}
.main__list-link:hover{
    border-bottom: 2px solid #ccc;
    margin-bottom: -2px;
    
}
.main__list-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
}
.main__text {
    margin-left: 1rem;
    font-size: 1.3rem;
}
.flip {
    transform: rotate(180deg);
}
.main__repository {
    border-bottom: 2px solid red;
    font-weight: 500;
    margin-bottom: -2px;
    color: black;
    display: flex;
    align-items: center;

}
.main__repository:hover {
    border-bottom: 2px solid red;
    margin-bottom: -2px;
}
.repository__count {
    background-color: #eee;
    width: 2rem;
    margin-bottom: 0;
    text-align: center;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 50%;
    margin-left: 1rem;
}
.section__profile {
    display: flex;
    width: 92%;
    justify-content: center;
    margin-left: 5.5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--color-grey-light);

}
.profile__bar {
    flex: 0 0 22%;
}
.profile__bar-details {
    display: flex;
    flex-direction: column;
    position: relative;
}

.smiley {
    position: absolute;
    top: 18rem;
    right: 1rem;
    z-index: 20;
    height: 3.5rem;
    width: 3.5rem;
   background-color: #fff;
   padding: .3rem;
   border-radius: 50%;
   border: 1px solid #ddd;
}
.smiley:hover  {
    width: 8rem;
    border-radius: 5rem;

}
.smiley:hover .status {
    display: inline-block;
}
.smiley__link {
    color:  rgb(117, 117, 117);
   fill: rgb(117, 117, 117);
   text-decoration: none;
   position: absolute;
   position: absolute;
    top: .8rem;
    right: .9rem;
    z-index: 30;
    display: flex;
}
.smiley__link:hover {
    color: #0366D6;
    fill: #0366D6;
}
.smiley__icon {
    
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    fill: currentColor;
}

.status {
    display: none;
    color: currentColor;
    font-size: 1.1rem;
    display: none;
    cursor: pointer;
    margin-left: .3rem;
}
.profile__bar-picture--cover {
    background-color: chartreuse;
    width: 100%;
    height: 30rem;
    border-radius: 50%;
    margin-top: -3rem;
    /* background-image: url(../img/SpiderMan-Post-Malone-Swae-Lee.png); */
    position: relative;
    overflow: hidden;
    z-index: 10;
}
.profile__bar-picture {
    width: 100%;
    height: 100%;
}
.name {
    margin: 2.25rem 0 ;
    margin-bottom: .2rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2.25rem;
}
.username {
    font-size: 1.8rem;
    margin: 1rem 0;
    margin-bottom: 2rem;
    font-weight: 300;
}
.btn__profile {
    width: 100%;
    padding: .6rem;
    border: 1px solid #bbb;
    background-color: rgba(250, 250, 250, 0.808);
    margin-bottom: 2rem;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: .5rem;
}
.btn__profile:hover {
    background-color: rgb(240, 240, 240);
}
.profile__bar-items {
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
    border-bottom: 1px solid #ccc;
}
.follow {
    display: flex;
    align-items: center;

    cursor: pointer;
    transition: all .1s;   
}
.follow:hover {
    color: #0366D6;
    fill: #0366D6;
}
.profile__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor;
    margin-right: .3rem;
}
.follow__number:not(:last-of-type) {
 margin-right: .5rem;
}
.follow__number {
    color: currentColor;
    font-weight: 600;
}
.follow__text {
    margin-right: .3rem;
    font-size: 1.2rem;
    color: inherit;
    
}
.highlight {
margin-top: 2rem;
}
.highlight__text {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;

}
.pro__cover {
    display: flex;
    align-items: center;
}
.pro {
    text-transform: uppercase;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    padding: .3rem .7rem;
    border-radius: 10rem;
}
.repository__page {
    flex: 1;
    margin-left: 3rem;
}
.form__section {
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--color-grey-light);
   
}
.form {
    display: flex;
    justify-content: space-between;
   
}
.select {
    display: flex;
}
.find__repository {
    flex: 1;
}
.find__repository::-webkit-input-placeholder {
    color: #606972;
}
.find__repository:focus {
    border: 1px solid #0366d6;
    box-shadow: 0 0 5px #0365d68e;
    outline: none;
}
.repo {
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 1px solid var(--color-grey-light);
    font-size: 1.3rem;
    font-family: inherit;
}
.repository__select {
    margin-left: 1rem;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
    transition: all .2s;
}
.repository__select:focus {
    outline: none;
}
.repository__select:hover {
    background-color: rgb(241, 241, 241);
}
.new__button {
    margin-left: 2rem;
    display: flex;
    color: #fff;
    align-items: center;
    padding: 0 1rem;
    background-color: #37ad59;
    border: 1px solid #31a552;
    cursor: pointer;
    transition: all .2s;
}
.new__button:hover {
    background-color: #2e964b;
}
.new__icon {
    fill: currentColor;
}
.new__text {
    margin-left: 1rem;
}
.repository__list {
    margin-top: 3rem;
    color: #606972;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-grey-light);
}
.repository__list-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: .2rem;
}
.repository__list-title {
    color:  #0366D6;
    font-size: 1.8rem;
    font-weight: 600;
}
.repository__list-btn {
    padding: .4rem 1rem;
    border-radius: .5rem;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(249, 255, 250);
    transition: all .2s;
}
.repository__list-btn--text {
    font-size: 1.2rem;
}
.repository__list-btn:hover {
    background-color: rgb(243, 243, 243);
}

.repository__list-average {
    margin-bottom: 1.5rem;
}
.summary {
    font-size: 1.3rem;
    
}
.repository__list-bottom {
    display: flex;
    font-size: 1.1rem;
    align-items: center;
}
.program__used {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.color {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    /* background-color: yellow; */
    margin-right: .5rem;
}
.star__number, .fork__number {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.project__icon {
    height: 1.4rem;
    width: 1.4rem;
}


/***
FOOTER
**/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 2rem 5.5rem;
}
.copyright {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.copyright__logo {
    height: 2rem;
    width: 2rem;
}
.copyright__text {
    margin-left: 3rem;
    display: flex;
    flex-wrap: nowrap;
}
.footer__list-cover {
    list-style: none;
    display: flex;
    justify-content: center;
}
.footer__list {
    display: flex;
}
.footer__list-link {
    text-decoration: none;
    color: #0366D6;
    text-align: center;
    display: block;
    
}
.footer__list-link:not(:last-of-type) {
    margin-right: 4rem;
}
.footer__list-link:hover {
    text-decoration: underline;
}